<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jntuk.ucev.placementsportal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activities.ActivitySplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.ActivityRegisteration"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.ActivityLogin" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.JobsActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.TrainingActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.ProfessorsActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.NotificationsActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.QuickActionsActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.ActivityChats" />
    </application>

</manifest>